table {
    width: 100%;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}

form input,form select{
    width: 20%;
}
.com th {
    width: 30%;

}
.com tr {
    width: 70%;
}
.comuser{
    font-weight: bold;
}